{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block admin_page %}
    <h1 class="text-2xl font-bold">Modifier l'événement</h1>

    {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
