{% extends 'base.html.twig' %}
{% form_theme requestForm 'form/theme.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <main class="w-full bg-base-200">
        <div class="container mx-auto hero h-screen">
            <div class="flex-col justify-center hero-content gap-12 lg:flex-row">
                <div class="text-center lg:text-left w-96 max-w-full">
                    <h1 class="mb-5 text-5xl font-bold">
                        Mot de passe oublié
                    </h1>
                    <p class="mb-5">
                        Aïe aïe aïe... Tu as un peu trop forcé sur la bière et pas moyen de se rappeler ce mot de passe
                        ? Pas de panique !
                    </p>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-error mb-2">
                                <div class="flex-1">
                                    <label>{{ flashError }}</label>
                                </div>
                            </div>
                        {% endfor %}
                        {{ form_start(requestForm) }}
                        {{ form_row(requestForm.email) }}
                        <p class="text-xs my-4 text-base">
                            Entre ton email et on t'enverra un mail pour réinitialiser ton email.
                        </p>

                        <button class="btn btn-primary">Réinitialiser mon mot de passe</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

